@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: 0;
}
body {
    font-family: 'Lora', serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}
header  .logo a {
    font-size: 25px;
    color: #29d9d5;
}
header  .logo a span {
    color: #fff;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li  {
    margin: 0 15px;
    list-style-type: none;
}
.menu li a {
    color: #fff;
    font-size: 14px;
}
.btn-login {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.btn-login:hover {
    background-color: #29d9d5;
    color: #fff;
}


/************* Accueil *************/
.hero-section {
    position: relative;
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-container video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.controls{
    padding: .5rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.controls .vid-btn{
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 0.5rem;
    border: 3px solid #000;
}

.controls .vid-btn.active{
    background: orange;
}

.hero-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.hero-content .btn {
    background-color: #800000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

.hero-content .btn:hover {
    background-color: #ffd700;
    color: #800000;
}


/************* A propos *************/

